body {
    font-family: 'Poppins', sans-serif;
    background: url(stadium.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-group.center {
    grid-column: span 2;
    text-align: center;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #f8f9fa;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
   
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    /* background: linear-gradient(135deg, #ff6a4d, #ffa463); */
    background: #323131;
    border: 1px solid white;
}
#login , #back{
    margin-top: 15px;

}
.forgot-password {
    margin-top: 10px;
    text-align: center;
}

.forgot-password a {
    color: #ff7e5f;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.forgot-password a:hover {
    color: #feb47b;
    text-decoration: underline;
}
.button-container{
    margin-top: 25px;
    display: flex;
    gap: 20px;
}